@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --background-color: #F5F7F8;
    --accent1: #F4CE14;
    --accent2: #45474B;
    --dark: #45474B;
}

body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    background-color: #FFFFFF;
}

header {
    margin: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: var(--background-color);
    border-bottom: 5px solid var(--accent1);
}

header h1 {
    width: 80%;
    margin: auto;
    color: var(--dark);
}

main {
    width: 80%;
    margin: auto;
    margin-top: 1.5rem;
}

.main-header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

main h2 {
    color: var(--dark);
}

.main-header button {
    border: none;
    border-radius: 5px;
    padding: 0.5rem clamp(0.5rem, 5vw, 2rem);
    background-color: var(--accent1);
    color: var(--dark);
    font-weight: bold;
}

.main-header button:hover {
    opacity: 0.9;
    cursor: pointer;
}

dialog {
    background-color: var(--background-color);
    margin: auto;
    width: clamp(50vh, 5vw, 70vh);
    margin-top: 20vh;
    border: 5px solid var(--accent2);
}

dialog form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form legend {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--dark);
}

input[type="text"], input[type="number"]{
    border: none;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
}

input:active {
    appearance: none;
    border: 1px solid var(--accent1);
}

select {
    margin-top: 1rem;
}

.form-buttons {
    margin-top: 1rem;
}

.form-buttons button {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: var(--accent1);
    color: var(--dark);
    font-weight: bold;
}

.form-buttons button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.list {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
}

.book {
    background-color: var(--background-color);
    padding: 1.5rem;
    border-radius: 10px;
    border-bottom: 5px solid var(--accent1);
    display: flex;
    flex-direction: column;
}

.book h3 {
    color: var(--dark);
    flex-basis: 4rem;
}

.book p {
    color: var(--accent2);
}

.book button {
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--accent2);
    color: #FFFFFF;
    max-width: 1.5rem;
    align-self: flex-end;
}

.book button:hover {
    opacity: 0.8;
    cursor: pointer;
}

footer {
    background-color: var(--background-color);
    text-align: center;
    padding: 1rem;
}

footer a {
    text-decoration: none;
    color: var(--dark);
    font-weight: bold;
}

footer a:hover {
    opacity: 0.8;
}